*
{
	margin: 0;
	padding: 0;

}
body
{
background: linear-gradient(-135deg, #71b7e6,#26344a);

}
h1
{
	text-align: center;
	padding: 14%;
	font-size:-webkit-xxx-large;
	font-weight: initial;
	color: whitesmoke;
	-webkit-text-emphasis-style: open;
	letter-spacing: 5px;
}
h3
{
	text-align: center;
	padding: 5%;
	color: whitesmoke;
	letter-spacing: 5px;
	margin-left: -50px;
}
.button{
   height: 45px;
   margin: 35px 0
 }
.button input{
   height: 100%;
   width: 15%;
   margin-left: 40%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background:#26344a;
 }
.button input:hover{
  background: #a86623;
  }